* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Fredoka One', cursive; */
}


/*  After Befor Effects */

h1 {
    text-align: center;
    margin-top: 2rem;
}

.my_Effects-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5rem;
}

.mypersonal-pic {
    height: 500px;
    width: 500px;
    background-color: coral;
    position: relative;
}

.mypersonal-pic::before {
    content: '';
    height: 490px;
    width: 0%;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 10px solid rgb(62, 19, 143);
    border-bottom: 10px solid rgb(10, 66, 59);
    transition: 1s;
}

.mypersonal-pic:hover::before {
    width: 100%;
}

.mypersonal-pic::after {
    content: '';
    height: 0;
    width: 480px;
    /* background-color: transparent; */
    position: absolute;
    left: 0;
    top: 0;
    border-left: 10px solid rgb(19, 32, 19);
    border-right: 10px solid rgb(190, 7, 84);
    transition: 1s;
}

.mypersonal-pic:hover::after {
    height: 100%;
}

.circle-befor {
    margin-top: 5rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.circle-befor h2 {
    font-weight: 100px;
    font-size: 32px;
    line-height: 150px;
    text-align: center;
    text-transform: uppercase;
    transition: 1s ease-in-out;
    z-index: -1;
    opacity: 0.5;
}

.circle-befor:before {
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 0.7;
    box-shadow: inset 15px 0 0 rgb(4, 15, 4), inset 0 130px 0 orangered, inset -130px 0 0 blue, inset 0 -170px 0 blueviolet;
    transition: 1s;
}

.circle-befor:hover:before {
    box-shadow: inset 15px 0 0 lightgreen, inset 0 10px 0 rgb(221, 69, 14), inset -10px 0 0 rgb(90, 147, 221), inset 0 -10px 0 rgb(207, 25, 168);
}

.iconanimation {
    height: 500px;
    width: 600px;
    background-color: rgb(36, 145, 45);
    position: relative;
    overflow: hidden;
}

.iconanimation::before {
    content: '';
    font-size: 20px;
    color: white;
    text-align: center;
    height: 0;
    width: 700px;
    background-color: rgb(10, 14, 10);
    position: absolute;
    left: 0;
    top: 0;
    transition: 1s;
    opacity: 0.8;
}

.iconanimation:hover::before {
    right: 0;
    bottom: 0;
    height: 100%;
    content: 'Hey This is Ottawa where I am living';
    font-weight: 900;
    line-height: 250px;
}

.me-pinki {
    height: 500px;
    margin: auto;
}


/* Text Box Effects */

.input-field {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
    margin: auto;
    margin-top: 5%;
}

input[type="text"] {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s;
    cursor: text;
}

input[type="text"]:focus~label {
    font-size: 14px;
    top: -24px;
    color: #00dd22;
}

.move-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    border-bottom: 2px solid #230b8b;
    transition: 0.8s;
}

input:focus~.move-border {
    left: 0;
    width: 100%;
}

.input-group {
    position: relative;
    width: 250px;
    height: 40px;
    margin: auto;
    margin-top: 5%;
}

.input-big {
    width: 100%;
    outline: 0;
    line-height: 100%;
    border: 0;
    padding: 0.5rem 0.5rem;
    border-bottom: 2px solid #d3d3d3;
    /* border: 0; */
}

.move-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: 0.8s;
    background-color: transparent;
    transition: 0.5s;
}

.input-big:focus {
    border-bottom: none;
}

.input-big:focus~.move-size {
    width: 100%;
    height: 100%;
    border: 3px solid #00dd22;
}

.input-effect5 {
    width: 100%;
    outline: 0;
    line-height: 100%;
    border: none;
    border-bottom: 2px solid #d3d3d3;
    padding: 0.5rem 0.5rem;
    transition: 0.4s;
}

.input-effect5:focus {
    outline: 3px solid red;
    outline-offset: 20px;
    border-bottom: none;
}